@import "tailwindcss";

@theme {
  --color-primary-50: #f0fdf4;
  --color-primary-100: #dcfce7;
  --color-primary-500: #22c55e;
  --color-primary-600: #16a34a;
  --color-primary-700: #15803d;
  
  --color-dark-surface: #1e1e24;
  --color-dark-bg: #121212;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
  
  .dark body {
    @apply bg-dark-bg text-slate-100;
  }
}
